<%- include partials/header.ejs %>

<div class="header-overlay">
            
                <div class="container">
                
                    <div class="row">
                    
                        <div class="col-md-12">
                        
    	
				            <div class="loginmodal-container">
                                  <div class="logoo">
                                    <img src="images/logo.png" class="logoa">
                                </div>
                                          <form>
                                            <input type="text" name="email" placeholder="E-mail" >
                                          
                                            <input type="password" name="pass" placeholder="Lozinka" >
                                           
                                            <input type="submit" name="login" class="login loginmodal-submit" value="login">
                                          </form>
					
                                    <div class="login-help">
                                            <a href="/register">Nemate raÄun? Registrirajte se! </a> 
                                            <a href="#">Zaboravili ste lozinku?</a>
                                    </div>
                            </div>
		
	
                           
                        </div>
                    
                    </div>
              
                
                </div>
            
            </div>
            
        </header>

<%- include partials/footer.ejs %>